body {
   background-color: #e2e2e2;
}

.title {
   text-align: center;
   font-family: 'Trebuchet MS', sans-serif;
   background-color:#77996c;
   font-size: 35px;
   font-weight: 600;
   border-radius: 5px;
   padding: 10px 20px;
   box-shadow: 2px 2px 2px 2px #4d4d4d94;
 
   }
   
   .SAC {
      display: inline;
   }
   
   .sacTitle {
   text-align: center;
   font-family: 'Trebuchet MS', sans-serif;
   background-color:#77996c;
   margin-top: 2%;
   font-size: 32px;
   margin-bottom: 5%;
   border-radius: 5px;
   padding: 10px 20px;
   box-shadow: 2px 2px 2px 2px #4d4d4d94;
   }
   
   .wrapper {
     display: flex;
     flex-direction: column;
     align-items: center;
     
   }
   
   .modTitle {
       text-align: center;
       font-family: 'Trebuchet MS', sans-serif;
       background-color:#77996c;
       margin-top: 2%;
       font-size: 32px;
       margin-bottom: 3%;
       border-radius: 5px;
       padding: 10px 20px;
       box-shadow: 2px 2px 2px 2px #4d4d4d94;
       }
   
   .tankAirVolumeTitle {
           text-align: center;
           font-family: 'Trebuchet MS', sans-serif;
           background-color:#77996c;
           margin-top: 2%;
           font-size: 32px;
           margin-bottom: 3%;
           border-radius: 5px;
           padding: 10px 20px;
         box-shadow: 2px 2px 2px 2px #4d4d4d94;
    }
   
   
        .partialPressureTitle{
             text-align: center;
             font-family: 'Trebuchet MS', sans-serif;
             background-color:#77996c;
             margin-top: 2%;
             font-size: 20px;
             margin-bottom: 3%;
             border-radius: 5px;
             padding: 10px 20px;
            box-shadow: 2px 2px 2px 2px #4d4d4d94;
             
          }
   
          .bestNitroxTitle {
            text-align: center;
            font-family: 'Trebuchet MS', sans-serif;
            background-color:#77996c;
            margin-top: 2%;
            font-size: 32px;
            margin-bottom: 3%;
            border-radius: 5px;
            padding: 10px 20px;
           box-shadow: 2px 2px 2px 2px #4d4d4d94;
            }
   
            .neededAirTitle {
               text-align: center;
               font-family: 'Trebuchet MS', sans-serif;
               background-color:#77996c;
               margin-top: 2%;
               font-size: 32px;
               margin-bottom: 3%;
               border-radius: 5px;
               padding: 10px 20px;
               box-shadow: 2px 2px 2px 2px #4d4d4d94;
               }
   
               .partialPressureTitle {
                  text-align: center;
                  font-family: 'Trebuchet MS', sans-serif;
                  background-color:#77996c;
                  margin-top: 2%;
                  font-size: 32px;
                  margin-bottom: 3%;
                  border-radius: 5px;
                  padding: 10px 20px;
                   box-shadow: 2px 2px 2px 2px #4d4d4d94;
               }
   
               input {
                  font-family: 'Roboto', sans-serif;
                  color: #333;
                  font-size: 0.9rem;
                   
                  padding: 1.5rem 2rem;
                  border-radius: 0.2rem;
                  background-color: rgb(255, 255, 255);
   
                  width: 36%;
                  margin-bottom: 1%;
   
                  transition: all 0.3s;
               }
   
               input::-webkit-outer-spin-button,
               input::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
               }
   
               button {
                  display: inline-block;
                  outline: none;
                  cursor: pointer;
                  font-size: 14px;
                  line-height: 1;
                  border-radius: 500px;
                  transition-property: background-color,border-color,color,box-shadow,filter;
                  transition-duration: .3s;
                  border: 1px solid transparent;
                  letter-spacing: 2px;
                  min-width: 160px;
                  text-transform: uppercase;
                  white-space: normal;
                  font-weight: 700;
                  text-align: center;
                  padding: 16px 14px 18px;
                  color: #fff;
                  background-color: #15883e;
                  height: 48px;
                  margin-bottom: 2%;
                  width: 50%;
               }
   
               .output {
                  display: flex;
                  font-size: 14px;
                  font-family: "Verdana", sans-serif;
                  text-transform: uppercase;
                 
                  font-weight: 700;
                  text-align: center;
         
                  
               }
           @media (orientation: portrait) and (max-width: 500px) {
   input {
     width: 80%;
   }
   }
   
